body {
  background-color: #F4F4F4;
  margin: 0;
  color: #303030;
  font-family: 'Calibri';
  font-size: 18px;

}

h3 {
  font-size: 1.61em;
  font-weight: normal;
}

h2 {
  font-size: 2.59em;
}

h1 {
  font-size: 4.17em;
}

p {
  font-size: 1em;
  display: inline-block;
}

.content {
  /* padding-left: 270px; */
}

.default {
  color: #9B9B9B;
}

.active {
  color: #B413FE;
}

.button_text {
  font-size: 16px;
  display: inline-block;
  color: #FFFFFF;
  font-weight: bold;
}

.site_header {
  width: 100%;
  height: 4.17em;
  background-image: linear-gradient(#C442FF, #940DD2);
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow:  0px 1px 3px  #A9A9A9;
}

.content {
  margin-top: 4.5em;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #4A4A4A;
  z-index: 1;
  margin-left: 0px;
  transition: margin-left .35s ease-in-out;

}

.sidebar_off {
  margin-left: -280px;
  transition: margin-left .35s ease-in-out;
}

.toggle {
  position: fixed;
  right: 5px;
  top: 5px;
  width: 3.5em;
  height: 3.5em;
  background-color: white;
  z-index: 1;
}

.homepage_lead {
  text-align: center;
}

.wrapper {

}

.large_container {
  width: 100%;
  margin: 0%;
}

.small_container {
  width: 100%;
}

.primary_button {
  width: 164px;
  height: 43px;
  background-color: #BD10E0;
}

.check-container {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #565656;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 13px;
}
.check-container input[type='checkbox'] {
  opacity: 0;
}

.checkbox-container input[type='checkbox']:focus + label::before {
  outline: blue;
}

.chart {
  box-shadow:  2px 2px 3px  #A9A9A9;
  width:100%;
  height:100%;
}

/* Dashboard Styles */

.dashboard_header h1 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 25px;
}

.date_selection_pane {
  margin-bottom: 16px;
  margin-top: 25px;
  height: 1.5em;
  display: flex;
  width: 100%;
}

.chart_settings_pane {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow:  2px 2px 3px  #A9A9A9;
  display: none;
}

.date_selection_item {
  font-size: 1em;
  font-weight: bold;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.chart_settings_pane_header {
  width: 100%;
  margin-top: 5px;
  margin-left: auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

#view_stats {
  position: relative;
  margin: 0 auto;
  left: 9%;
  font-size: 1em;
  font-weight: bold;
  color: #B413FE;
}

.dashboard_services {
  box-shadow:  2px 5px 3px  #A9A9A9;
}

.services_row {
  display: block;
  border-bottom: 1px darkgrey solid;
  padding-left: 20px;
  display: flex;
  height: 20px;
  padding-top: .8em;
  padding-bottom: .8em;
  background-color: white;
  font-size: .9em;
}

@media only screen and (min-width: 500px) {
  .chart {
    width: 55%;
    display: inline-block;
    vertical-align: top;

  }
  .chart_settings_pane {
    width: 43%;
    height: 200px;
    display: inline-block;
  }
  .date_selection_pane {
    display: none;
  }
}


@media only screen and (min-width: 1024px) {

  .large_container {
    margin-left: 10%;
    width: 80%;
  }

  .small_container {
    width: 60%;
    margin-left: 20%;
  }

  .sidebar {
    position: fixed;
  }

  .toggle {
    display: none;
  }

  .content {
    padding-left: 250px;
  }


}
