body {
  background-color: #F4F4F4;
  margin: 0;
  color: #303030;
  font-family: 'Calibri';
  font-size: 18px;

}

h3 {
  font-size: 1.61em;
  font-weight: normal;
}

h2 {
  font-size: 2.59em;
}

h1 {
  font-size: 4.17em;
}

p {
  font-size: 1em;
  display: inline-block;
}

.default {
  color: #9B9B9B;
}

.active {
  color: #B413FE;
}

.button_text {
  font-size: 16px;
  display: inline-block;
  color: #FFFFFF;
  font-weight: bold;
}

.site_header {
  width: 100%;
  height: 4.17em;
  background-image: linear-gradient(#9013FE, #C32AFF);
}

.content {
  margin-left: 2.5%;
  margin-right: 2.5%;
}


.homepage_lead {
  text-align: center;
}

.wrapper {

}

.large_container {
  width: 100%;
  margin: 0%;
}

.small_container {
  width: 100%;
}

.primary_button {
  width: 164px;
  height: 43px;
  background-color: #BD10E0;
}

.check-container {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px solid #565656;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 13px;
}
.check-container input[type='checkbox'] {
  opacity: 0;
}

.checkbox-container input[type='checkbox']:focus + label::before {
  outline: blue;
}

.chart {
  box-shadow:  2px 5px 3px  #A9A9A9;
}

/* Dashboard Styles */

.dashboard_header h1 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 25px;
}

.date_selection_pane {
  margin-bottom: 16px;
  margin-top: 25px;
  height: 1.5em;
  display: flex;
  width: 100%;
}

.date_selection_item {
  font-size: 1em;
  font-weight: bold;
  margin-left: 5%;
}

#view_stats {
  position: relative;
  margin: 0 auto;
  left: 9%;
  font-size: 1em;
  font-weight: bold;
  color: #B413FE;
}

.dashboard_services {
  box-shadow:  2px 5px 3px  #A9A9A9;
}

.services_row {
  display: block;
  border-bottom: 1px darkgrey solid;
  padding-left: 20px;
  display: flex;
  height: 20px;
  padding-top: .8em;
  padding-bottom: .8em;
  background-color: white;
  font-size: .9em;
}






@media only screen and (min-width: 780px) {

  .large_container {
    margin-left: 10%;
    width: 80%;
  }

  .small_container {
    width: 60%;
    margin-left: 20%;
  }

}
