{% load static %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="shortcut icon" href="{% static 'base/logo.png' %}" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'base/base.css' %}">
<link rel="stylesheet" href="{% static 'crm/crm.css' %}">





<html>
<body>

<svg style="display: none">
  <symbol id="plus-icon" viewBox="0 0 24 24">
      <path fill="#FFFFFF" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
  </symbol>

  <symbol id="edit-icon" viewBox="0 0 24 24">
      <path fill="#FFFFFF" d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
  </symbol>

</svg>

<div class="site_header">

</div>

<div class="sidebar" id="sidebar">

</div>

<div class="toggle" onclick="toggle()">
</div>
<div class="content">
 {% block content %}
 {% endblock %}
</div>

<script>
function toggle() {
    var sidebar = document.getElementById("sidebar")
    sidebar.classList.toggle('sidebar_off');
}
</script>

</body>

</html>
<script type="text/javascript" src="{% static 'crm/crm.js' %}"></script>
