{% extends 'base/base.html' %}

{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'base/homepage/homepage.css' %}">

<div class="wrapper">
  <div class="large_container">
    <h3 class="homepage_lead">The best app for measuring Church growth and engagement</h3>


    <div class="wrapper">
      <button class="primary_button" onclick="window.location.href='http://localhost:8000/user/signup'">
        <div class="button_text">
          Start for Free
        </div>
      </button>
    </div>
    <div class="wrapper">
      <div class="homepage_login_container flexbox">
          <p class="homepage">Already have an account?</p>
          <a href="user/greeting" class="homepage">Login here</a>
      </div>
    </div>
</div>

{% endblock %}
