{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">


<body>


<div class="site_header">

</div>

<div class="wrapper">
  <div class="large_container">


    <h1>Header 1</h1>

    <h2>Header 2</h2>

    <h3>Header 3</h3>


  </div>

</div>

<div class="wrapper">

  <div class="small_container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt lacinia aliquam. Sed cursus neque magna, dignissim sagittis augue gravida vitae. Nullam et massa augue. Cras vulputate felis pretium, consectetur sem quis, egestas dui. Maecenas euismod justo maximus, blandit neque vitae, posuere tortor. Etiam rutrum dignissim lacus at volutpat. Integer sit amet nunc at ex volutpat condimentum quis sit amet risus.</p>
  </div>

</div>


</body>
