.crm_title {
  display: block;
  height: 68px;
  background-color: white;
  width: 100%;
}

.crm_title h3 {
    padding-top: 17px;
    padding-left: 4.5%;
}

.search_container {
  background-color: #E3E2E2;
  height: 68px;
  width: 100%;
  display: block;
  overflow: auto;
}

.search_box {
  background-color: white;
  height: 48px;
  width: 96%;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto;

}

.search_box_icon {
  height: 16px;
  width: 16px;
  position: relative;
  bottom: 40px;
  left: 18px;
  z-index: 10;
}

.search_field {
  border: none;
  height: 48px;
  border-radius: 10px;
}

.row {
  height: 68px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #E3E2E2;
  overflow: hidden;
}

.check_circle {

  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #B7B4B4;
  display: inline-block;
}

.row {
  display: grid;
  grid-template-columns: 10% auto;
}

.row:hover {
  background-color: #E3E2E2;
}

.row:focus {
  background-color: #E3E2E2;
}

.row .check_circle_container .check_circle {
  margin-left: 50%;
  margin-top: 25px;
}

.row .table_value {
  margin-left: 2%;
  font-size: 16px;
  margin-top: 24px;

}
