{% extends 'base/base.html' %}

{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'users/users.css' %}">

<div style="margin-top:80px;" class="greeting_container">
  <h3>When was this service?</h3>
</div>

<form method="post" style="margin-top:15px;">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.template.errors }}
  <label for="{{ form.template.id_for_label }}" class="field_label">Service</label>
  <div class="fieldWrapper"> {{ form.template }}</div>
  <br>

  {{ form.count.errors }}
  <label for="{{ form.count.id_for_label }}" class="field_label">Count</label>
  <div class="fieldWrapper"> {{ form.count }}</div>
  <br>

  {{ form.date.errors }}
  <label for="{{ form.date.id_for_label }}" class="field_label">Date</label>
  <div class="fieldWrapper"> {{ form.date }}</div>
  <br>


  <div class="primary_wrapper">
    <button style="margin-top:30px;" class="primary_button" type="submit">Get Started</button>
  </div>
</form>

<div class="setup_progress_container">
  <div>
    <div class="progress_header_default">Profile</div>
    <div class="progress_circle_complete">
      <svg style="width:26px;height:26px" viewBox="0 0 24 24">
        <path fill="#FFFFFF" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
      </svg>
    </div>
  </div>
  <div>
    <div class="progress_header_default">Church</div>
    <div class="progress_circle_complete">
      <svg style="width:26px;height:26px" viewBox="0 0 24 24">
        <path fill="#FFFFFF" d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
      </svg>
    </div>
  </div>
  <div>
    <div class="progress_header_active">Services</div>
    <div class="progress_circle_active"></div>
  </div>
</div>


{% endblock %}
