{% extends 'base/base.html' %}

{% block content %}

{% load static %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'church/church.js' %}"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  var djangoData = {{ one_month.data|safe }};
  var mobile_choices = document.getElementsByClassName('date_selection_item');

  function resetItems() {
    var mobile_choices = document.getElementsByClassName('date_selection_item');
    Array.prototype.forEach.call(mobile_choices, function (el) {
      el.classList.remove('active')
    })
  }

  function drawOneMonthChart(elem) {
    djangoData = {{ one_month.data|safe }};

    resetItems();
    elem.classList.add('active');

    drawChart();
  }

  function drawThreeMonthChart(elem) {
    djangoData = {{ three_month.data|safe }};
    resetItems();
    elem.classList.add('active');
    drawChart();
  }

  function drawSixMonthChart(elem) {
    djangoData = {{ six_month.data|safe }};
    resetItems();
    elem.classList.add('active');
    drawChart();
  }

  function drawOneYearChart(elem) {
    djangoData = {{ one_year.data|safe }};
    resetItems();
    elem.classList.add('active');
    drawChart();
  }

  function drawAllTimeChart(elem) {
    djangoData = {{ all_time.data|safe }};
    resetItems();
    elem.classList.add('active');
    drawChart();
  }

  function drawChart() {
    var data = google.visualization.arrayToDataTable(djangoData);
    var showEvery = parseInt(data.getNumberOfRows() / 3);
    var options = {
      // title: '',
      curveType: 'function',
      legend: { position: 'none' },
      backgroundColor: '#FFFFFF',
      chartArea: {
        'width': '80%',
        'height': '80%',
        left: '15%'
      },
      vAxis: {
        viewWindowMode: "explicit",
        viewWindow:{ min: 0 },
        textStyle : {
          fontSize: 13,
          fontName: 'Calibri'
        },
        baselineColor: 'none'
      },

      hAxis: {
        showTextEvery: showEvery,
        textStyle : {
          fontSize: 12,
          fontName: 'Calibri',
        },


      },
      colors: ['#B413FE'],
      lineWidth: 3.5,
      vAxes: {0:
        {gridlines:
          {color: 'transparent'}
        }
      }
    };
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
    window.addEventListener("resize", drawChart);

  }
</script>


<div class="dashboard_header">
  <h2>{{ template.name }}</h2>
</div>


<!-- Chart controls -->
<div class="date_selection_pane">
  <div id="one_month_mobile" class="date_selection_item default" onclick="drawOneMonthChart(this)">1m</div>
  <div id="three_month_mobile" class="date_selection_item default" onclick="drawThreeMonthChart(this)">3m</div>
  <div id="six_month_mobile" class="date_selection_item default" onclick="drawSixMonthChart(this)">6m</div>
  <div id="one_year_mobile" class="date_selection_item default" onclick="drawOneYearChart(this)">1y</div>
  <div id="all_time_mobile" class="date_selection_item default" onclick="drawAllTimeChart(this)">All</div>

  <div id="view_stats" onclick="toggleChart()">Stats <img src="{% static 'church/img/triangle.svg' %}"></img></div>
</div>

<div style="display:flex">
  <div id="curve_chart" class="chart"></div>
  <div id="chart_settings_pane" class="chart_settings_pane">
    <div class="chart_settings_pane_header">
      <div class="date_selection_item default active" onclick="drawOneMonthChart(this)">1m</div>
      <div class="date_selection_item default" onclick="drawThreeMonthChart(this)">3m</div>
      <div class="date_selection_item default" onclick="drawSixMonthChart(this)">6m</div>
      <div class="date_selection_item default" onclick="drawOneYearChart(this)">1y</div>
      <div class="date_selection_item default" onclick="drawAllTimeChart(this)">All</div>
    </div>
    <div class="chart_settings_section">
      <div class="chart_settings_section_header">Change</div>
      <div class="chart_settings_section_value">
        {{ one_month.change }}
      </div>
    </div>
    <div class="chart_settings_section">
      <div class="chart_settings_section_header">Average</div>
      <div class="chart_settings_section_value">
        {{ one_month.average }}
      </div>
    </div>
  </div>
</div>



<div class="dashboard_services_container">
  <h3 style="text-align:center;margin-bottom:25px;">Services</h3>
  <div class="dashboard_services">
    {% for service in services %}


      <div class="services_row">{{ service.date }}</div>
    {% endfor %}
  </div>
</div>
<script type="text/javascript">
  function toggleChart() {
    var chart = document.getElementById('curve_chart');
    var settings = document.getElementById('chart_settings_pane');
    chart.classList.toggle('chart_toggle');
    settings.classList.toggle('chart_settings_toggle');
  }
</script>




{% endblock %}
