{% extends 'base/base.html' %}

{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'users/users.css' %}">

<div style="margin-top:80px;" class="greeting_container">
  <h3>Add contact</h3>
</div>

<form method="post" style="margin-top:15px;">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.first_name.errors }}
  <label for="{{ form.first_name.id_for_label }}" class="field_label">First Name</label>
  <div class="fieldWrapper"> {{ form.first_name }}</div>
  <br>

  {{ form.last_name.errors }}
  <label for="{{ form.last_name.id_for_label }}" class="field_label">Last Name</label>
  <div class="fieldWrapper"> {{ form.last_name }}</div>
  <br>


  <div class="primary_wrapper">
    <button style="margin-top:30px;" class="primary_button" type="submit">Services</button>
  </div>
</form>




{% endblock %}
